body{
     background-color: #d6e6f2;
}

h1{
  color: #0f4c75;
  text-shadow: 2px 2px 5px #928a97;
}
h3{
  background-color: lightgrey;
  color: #0f4c75;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
